<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="module-output" name="lab7" />
      <element id="module-output" name="server" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/server/META-INF/MANIFEST.MF" />
      </element>
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/com/sun/mail/javax.mail/1.6.2/javax.mail-1.6.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/javax/mail/javax.mail-api/1.6.2/javax.mail-api-1.6.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/json/json/20190722/json-20190722.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/org/postgresql/postgresql/42.2.12/postgresql-42.2.12.jar" path-in-jar="/" />
      <element id="extracted-dir" path="$MAVEN_REPOSITORY$/javax/activation/activation/1.1/activation-1.1.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>